
// Set login form to be in the middle of page.
:host {
  margin: auto;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.btn-login {
  width: 100%;
}