/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-container-center {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    padding: 40px 0px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* --- Custom Card Start--- */
mat-card {
    .pingo-card-title {
        margin: 24px 0 24px;
    }
}

/* --- Custom Card End--- */